<div
  class="flex items-center justify-between max-[992px]:max-w-[100%] max-w-[1280px] mx-auto h-16 px-[20px] h-[20px]:"
>
  <button (click)="scrollToTop()" class="flex items-center gap-2 cursor-pointer">
    <div class="w-8 h-8 bg-blue-600 rounded-lg flex items-center justify-center">
      <h1 class="sr-only">Fluxia</h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="white"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-zap text-white"
      >
        <path
          d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
        />
      </svg>
    </div>

    <span class="text-gray-900 text-[1.125rem] font-bold tracking-[-0.02em]"> Fluxia </span>
  </button>

  <nav class="max-[992px]:hidden">
    <ul class="flex gap-4">
      <li *ngFor="let section of sections">
        <a
          (click)="scrollToSection(section.fragment)"
          [class.active-section]="activeSection === section.fragment"
          class="cursor-pointer hover:text-blue-600 transition-all duration-300 text-[.9rem]"
        >
          {{ section.title }}
        </a>
      </li>
    </ul>
  </nav>

  <div class="flex items-center gap-3">
    <button
      (click)="scrollToSection('contact')"
      class="max-[992px]:hidden inline-flex items-center px-5 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 active:scale-95 transition-all duration-300 cursor-pointer"
    >
      Get Started
    </button>

    <button
      (click)="toggleMenu()"
      class="max-[992px]:block hidden p-2 text-gray-700 hover:text-blue-600 transition"
    >
    <span class="sr-only" *ngIf="!isMobileMenuOpen">Open menu</span>
      <i-lucide
        *ngIf="!isMobileMenuOpen"
        [name]="Menu"
        class="w-5 h-5 cursor-pointer max-[992px]:w-8 max-[992px]:h-6"
      ></i-lucide>
      <span class="sr-only" *ngIf="isMobileMenuOpen">Close menu</span>
      <i-lucide
        *ngIf="isMobileMenuOpen"
        [name]="X"
        class="w-5 h-5 cursor-pointer max-[992px]:w-8 max-[992px]:h-6"
      ></i-lucide>
    </button>
  </div>
</div>

<div
  class="absolute w-full left-0 right-0 top-[64px] bg-white shadow-md transition-all duration-300 ease-out min-[992px]:hidden overflow-hidden"
  [class.opacity-100]="isMobileMenuOpen"
  [class.translate-y-0]="isMobileMenuOpen"
  [class.pointer-events-auto]="isMobileMenuOpen"
  [class.opacity-0]="!isMobileMenuOpen"
  [class.-translate-y-4]="!isMobileMenuOpen"
  [class.pointer-events-none]="!isMobileMenuOpen"
>
  <nav>
    <ul class="flex flex-col gap-6 p-6">
      <li *ngFor="let section of sections">
        <a
          (click)="scrollToSection(section.fragment)"
          [class.active-section]="activeSection === section.fragment"
          class="cursor-pointer hover:text-blue-600 transition-all duration-300 text-[.9rem] max-[992px]:text-[1.1rem]"
        >
          {{ section.title }}
        </a>
      </li>

      <button
        (click)="scrollToSection('contact')"
        [class.active-section]="activeSection === 'contact'"
        class="w-full px-5 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition"
      >
        Get Started
      </button>
    </ul>
  </nav>
</div>
