<div
  class="flex flex-col justify-center items-center justify-center max-[992px]:max-w-[100%] px-[20px] max-w-[1280px] w-full mx-auto min-h-[calc(100vh-64px)] pb-16"
>
  <app-section-heading
    subheading="Use cases"
    title="Automation for every team"
    lead="No matter your industry, Fluxia adapts to your workflows and delivers measurable results fast."
  >
  </app-section-heading>
  <div class="flex flex-col items-center justify-center gap-4 p-2">
    <div class="flex flex-wrap gap-4">
      <button
        [class.active-filter]="activeCategory === filter.category"
        *ngFor="let filter of filters"
        (click)="showCategory(filter.category)"
        class="flex items-center gap-2 cursor-pointer border border-gray-200 px-4 py-2 rounded-full text-gray-900 text-[.75rem] text-center"
      >
        <i-lucide [name]="filter.icon" class="w-4 h-4 max-[992px]:w-6 max-[992px]:h-6"></i-lucide>
        <span class="font-semibold text-[#4a5565] max-[992px]:text-[.9rem] cursor-pointer">{{ filter.title }}</span>
      </button>
    </div>
    <div class="w-full mt-16" [ngSwitch]="activeCategory">
      <div *ngFor="let filter of filters">
        <div
          [class.active-content]="activeCategory === filter.category"
          class="grid grid-cols-2 max-[768px]:grid-cols-1 min-h-[500px] shadow-[2px_2px_5px_rgba(0,0,0,0.1)] rounded-tr-3xl rounded-br-3xl"
          *ngSwitchCase="filter.category"
        >
          <article class="p-10">
            <header>
              <div class="flex items-center gap-2 mb-6">
                <div
                  [ngClass]="filter.bgIcon"
                  class="w-8 h-8 flex items-center justify-center rounded-lg max-[992px]:w-9 max-[992px]:h-9"
                >
                  <i-lucide [name]="filter.icon" class="h-4 w-4 text-[#fff] max-[992px]:h-5 max-[992px]:w-5"></i-lucide>
                </div>
                <span class="text-gray-500 text-[.85rem] font-semibold max-[992px]:text-[.9rem]">{{ filter.title }}</span>
              </div>
              <h3 class="font-bold text-gray-900 text-[1.875rem] mb-4 leading-[1.1]">
                {{ filter.leftTitle }}
              </h3>
            </header>
            <div>
              <p class="text-gray-500 mb-8 text-[.95rem] min-h-[70px]">
                {{ filter.leftLead }}
              </p>
              <ul>
                <li class="flex items-center gap-3 mb-3" *ngFor="let feature of filter.features">
                  <i-lucide [name]="CircleCheck" class="h-4 w-4 text-[#2b7fff] max-[992px]:h-5 max-[992px]:w-5"></i-lucide>
                  <span class="text-gray-600 text-[.9rem]">{{ feature }}</span>
                </li>
              </ul>
            </div>
          </article>

          <div>
            <article
              [ngClass]="filter.bgIcon"
              class="flex flex-col items-center justify-center text-center h-full p-10 max-[768px]:min-h-[220px] rounded-tr-3xl rounded-br-3xl max-[768px]:rounded-tr-none max-[768px]:rounded-bl-3xl max-[768px]:rounded-br-3xl"
            >
              <div class="right-content">
                <header class="mb-2">
                  <span
                    class="text-white font-bold leading-1 text-[4.5rem] max-[768px]:text-[2.25rem]"
                    >{{ filter.percentage }}</span
                  >
                </header>
                <div class="flex flex-col justify-center items-center">
                  <p class="text-white mb-6">{{ filter.rightSubtitle }}</p>
                  <div class="h-[2px] w-20 bg-[rgba(255,255,255,.4)] mb-6"></div>
                  <p class="text-white text-[14px]">{{ filter.rightLead }}</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
